#myImg{
  float: right;
  width: 35%;
  min-width: 380px;
  height: auto;
  max-height: 440px;
  /* display: inline; */
  margin-left: 2%;
  margin-top: 2%;
} 

@media (min-width: 320px) and (max-width: 900px) {
    #myImg{
        width:100%;
        float:none;
        display:flex;
        margin:1%;
        
    }
    }